body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(82, 82, 255, 1) 100%);
}


header {
    display: flex;
    justify-content: space-between; /* логотип ліворуч, меню праворуч */
    align-items: center;
    padding: 20px 40px;
    background: #01B3F4;
    background: linear-gradient(90deg, rgba(1, 179, 244, 1) 0%, rgba(1, 179, 244, 1) 100%);
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* легка тінь */
    position: sticky;
    top: 0; /* шапка завжди зверху */
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}


nav a{
    border-radius: 12px;
    padding: 12px 20px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
    margin-left: 20px;
}

.card1{
    width: 200px;
    height: 300px;
   background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgb(45, 10, 10);
    margin: 50px;
}

.card1 img{
    width: 100px;
    border-radius: 40%;
}

.card1 p{
    width: 150px;
    text-align: center;
}

.card2{
    width: 200px;
    height: 300px;
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgb(45, 10, 10);
    margin: 50px;
}

.card2 img{
    width: 100px;
    border-radius: 40%;
}

.card2 p{
    width: 150px;
    text-align: center;
}

.card3{
    width: 200px;
    height: 300px;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgb(45, 10, 10);
    margin: 50px;
}

.card3 img{
    width: 100px;
    border-radius: 40%;
}

.card3 p{
    width: 150px;
    text-align: center;
}

.card4{
    width: 200px;
    height: 300px;
   background: #292727;
background: linear-gradient(90deg, rgba(41, 39, 39, 1) 0%, rgba(3, 1, 49, 1) 5%, rgba(5, 4, 72, 1) 15%, rgba(9, 9, 121, 1) 35%, rgba(6, 87, 172, 1) 60%, rgba(2, 166, 225, 1) 85%, rgba(1, 195, 244, 1) 95%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgb(45, 10, 10);
    margin: 50px;
}

.card4 img{
    width: 100px;
    border-radius: 40%;
}

.card4 p{
    width: 150px;
    text-align: center;
}

.guests{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header .logo h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff4757; 
    
    /* яскравий акцент */
}



h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  max-width: 700px;
  margin: 0 auto 16px auto;
  text-align: center;
}

ul {
  max-width: 500px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

li {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #2a2a3d;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: white;
}


.stream-link a{
    text-align: center;
    background-color: white;
    padding: 20px 16px;
    text-decoration: none;
    border-radius: 30px;
    color: #2a2a3d;
    transition: all 1s;
    font-size: 20px;
}

.stream-link a:hover{
    background-color: #833AB4;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.443);
}

.stream-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: #01B3F4;
    background: linear-gradient(90deg, rgba(1, 179, 244, 1) 0%, rgba(1, 179, 244, 1) 100%);
    color: white;

}
